html {
  background-color: #0D1321;
}

body {
  background-color: #0D1321;
}

#container {
  position: relative;
  width: 100%;
  max-width: 60rem;
  height: 100%;
    
  margin-left: auto;
  margin-right: auto;
}

#header {
  position: fixed;
  background-color: #1D2B53;
  height: 4rem;
  padding: 0.5rem;
  width: 100%;
  max-width: 60rem;
  z-index: 1;
  vertical-align: middle;
}

#main {
  padding-top: 4rem;
  min-height: 100%;
  display: flex;
}

#header-right {
  float: right;
  height: 100%;
  display: flex;
  align-items: center;
}

#hand-info {
  font-size: 2.4rem;
  font-weight: bold;
  margin-right: 0.6rem;
}

#points {
  color: #7F5283;
}

#cardCount, #cardLimit {
  color: #5A5D9F;
}

span.separator {
  color: #5A5D9F;
}

#left {
  width: 13rem;
  background-color: #0D1321;
}

#right {
  background-color: #0B2545;
  min-height: 100%;
  width: calc(100% - 13rem);
}

span.top-right-score {
  font-size: 2em;
}

span.top-score-name {
  font-size: 1.4em;
}

span.right-score {
  font-size: 1.3em;
}

span.top-score {
  font-size: 1.15em;
}

li.list-group-item {
  color: white;
  display: block;
  font-size: 0.9rem;
}

li.Title {
  background-color: #292b2c;
}

li.Land {
  background-color: #3B5284;
}

span.land {
  color: #3B5284;
}

li.Flood {
  background-color: #292E49;
}

span.flood {
  color: #292E49;
}

li.Weather {
  background-color: #406AB2;
}

span.weather {
  color: #406AB2;
}

li.Flame {
  background-color: #6A4F4B;
}

span.flame {
  color: #6A4F4B;
}

li.Army {
  background-color: #212738;
}

span.army {
  color: #212738;
}

li.Wizard {
  background-color: #564D80;
}

span.wizard {
  color: #564D80;
}

li.Leader {
  background-color: #67597A;
}

span.leader {
  color: #67597A;
}

li.Beast {
  background-color: #327855;
}

span.beast {
  color: #327855;
}

li.Weapon {
  background-color: #737373;
}

span.weapon {
  color: #737373;
}

li.Artifact {
  background-color: #914E39;
}

span.artifact {
  color: #914E39;
}

li.Wild {
  background-color: #808080;
}

span.wild {
  color: #808080;
}

#cards {
  background-color: #0D1321;
}

#cards .card-header, #hand .card-header {
  padding: 0.4rem;
  font-weight: bold;
  background-color: #9b9dc6;
  cursor: pointer;
}

#hand {
  background-color: #0B2545;
  padding: 0.4rem;
  font-weight: bold;
}

#cards li, #hand li {
  font-weight: bold;
  padding: 0.4rem;
  cursor: pointer;
}

#cards li {
  padding-right: 0;
}

#hand li.effect1, #hand li.effect2 {
  background-color: #FFFFFF;
  color: grey;
  font-weight: normal;
  font-size: 0.8rem;
  border: 0;
}

#hand li span {
  font-weight: bold;
}

#hand li.blanked {
  opacity: 0.4;
  filter: grayscale(100%);
}

#hand div.card {
  margin-bottom: 0.4rem;
  cursor: pointer;
}

span.badge-default {
  min-width: 1.5rem;
}

span.bonus {
  color: green;
}

span.penalty {
  color: red;
}

.cleared, .cleared:hover {
  text-decoration: line-through;
}

button {
  cursor: pointer;
}

#cards div.suit-selection {
  background-color: #74A4BC;
}
